{% extends "grocery_store/main.html" %}
{% block "about_us" %}
{% load static %}
<div class="about-us" style="max-width: 1024px;">
    <div style="margin: 50px; display: flex; flex-direction: column; align-items: center;">
        <h2><strong>Адрес: </strong>Алтуфьевское шоссе, дом 72.</h2>
        <h2><strong>Ближайшее метро: </strong>Алтуфьево, Бибирево.</h2>
        <div style="margin-top: 30px; position:relative;overflow:hidden;">
            <a href="https://yandex.kz/maps/org/produkty_iz_armenii/132475794310/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Продукты из Армении</a>
            <a href="https://yandex.kz/maps/213/moscow/category/grocery_store/184108031/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин продуктов в Москве</a>
            <iframe src="https://yandex.kz/map-widget/v1/-/CCUZ6PtuOB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
        <div style="width:560px;height:800px;overflow:hidden;position:relative;">
            <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/132475794310?comments"></iframe>
            <a href="https://yandex.kz/maps/org/produkty_iz_armenii/132475794310/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Продукты из Армении на карте Москвы — Яндекс Карты</a>
        </div>
    </div>
        {% for i in '12345678'|make_list %}
    <img class = "about-us-img" src = "{% static 'grocery_store/images/shop/'|add:i|add:'.webp' %}"/>
{% endfor %}
</div>
{% endblock %}