{% extends "grocery_store/main.html" %}
{% block "content" %}
{% load static %}
<div>
<div class="about-us" style="max-width: 1024px;">
    <div style="margin: 50px; display: flex; flex-direction: column; align-items: center;">
        <h2><strong>Адрес: </strong>Алтуфьевское шоссе, дом 72.</h2>
        <h2><strong>Ближайшее метро: </strong>Алтуфьево, Бибирево.</h2>
  {% firstof "grocery_store/elements" as elements %}
  {% include elements|add:"/map.html" %}
        {% include elements|add:"/feedbacks_block.html" %}
    </div>
        {% for i in '12345678'|make_list %}
    <img class = "about-us-img" src = "{% static 'grocery_store/images/shop/'|add:i|add:'.webp' %}"/>
{% endfor %}
</div>
    </div>
{% endblock %}