{% extends "grocery_store/main.html" %}
{% block "content" %}
{% load static %}
<div class="contacts" style="max-width: 1024px;">
    <h2><strong>Адрес: </strong>Алтуфьевское шоссе, дом 72.</h2>
    <h2><strong>Ближайшее метро: </strong>Алтуфьево, Бибирево.</h2>
    <h2><strong>Телефон: </strong><a href="tel:+79036624427" rel="nofollow">+7(903)-662-44-27</a></h2>
    <h2><strong>email: </strong><a href="mailto:boris.working@yandex.ru" rel="nofollow">boris.working@yandex.ru</a></h2>
    <h2><strong>Instagram: </strong><a href="https://instagram.com/armenian_ecoproducts?igshid=YmMyMTA2M2Y=" rel="nofollow">armenian_ecoproducts</a></h2>
  {% firstof "grocery_store/elements" as elements %}
  {% include elements|add:"/map.html" %}
        {% include elements|add:"/feedbacks_block.html" %}
</div>
{% endblock %}