<div class="footer">

    <div id="scrollerUnHidePoint"></div>

    <div class="container">
          <div class="footer-link">
            <a href="#" class="hashtag">ArmenianProducts</a>
          </div>

      <hr class="footer-hr">

      <div class="footer-links">

        <div class="footer-links-column">

          <div class="socials-symbols">
            <a href="#" class="icon-link">
              <div>
                <img src="assets/footer/facebook.svg" alt="Вконтакте">
              </div>
            </a>

            <a href="#" class="icon-link">
              <div>
                <img src="assets/footer/instagram.svg" alt="Instagram">
              </div>
            </a>
          </div>
        </div>

        <div class="footer-links-column">
          <div class="footer-link"><a href="#">О нас</a></div>

        </div>

        <div class="footer-links-column">
          <div class="footer-link"><a href="#">Все города</a></div>
          <div class="footer-link"><a href="#">Контакты</a></div>

        </div>
      </div>



      <hr class="footer-hr">

      <div class="footer-legal">
        <div class="footer-link">
          <a href="#">© 2017 Uber Technologies Inc.</a>
        </div>
      </div>



    </div>

  </div>
