{% load static %}
<div class="footer">

    <div id="scrollerUnHidePoint"></div>

    <div class="container">
          <div class="footer-link">
            <a href="/" class="hashtag">ArmenianProducts</a>
          </div>

      <hr class="footer-hr">

      <div class="footer-links">

        <div class="footer-links-column">

          <div class="socials-symbols">


            <a href="https://instagram.com/armenian_ecoproducts?igshid=YmMyMTA2M2Y=" class="icon-link">
              <div style="display:flex;">
                <img src="{% static 'grocery_store/images/footer/instagram.svg' %}" alt="Instagram">
                <p>Instagram</p>
              </div>
            </a>
          </div>
        </div>

        <div class="footer-links-column">
          <div class="footer-link"><a href="{% url 'about_us' %}">О нас</a></div>
          <div class="footer-link"><a href="{% url 'feedbacks' %}">Отзывы</a></div>
        </div>

        <div class="footer-links-column">
          <div class="footer-link"><a href="{% url 'contacts' %}">Контакты</a></div>
        </div>
      </div>



      <hr class="footer-hr">

      <div class="footer-legal">
        <div class="footer-link">
        </div>
      </div>



    </div>

  </div>
