<div style="max-width:560px; width: 100%;margin-top: 30px; position:relative;overflow:hidden;">
  <a href="https://yandex.kz/maps/org/produkty_iz_armenii/132475794310/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Продукты из Армении</a>
  <a href="https://yandex.kz/maps/213/moscow/category/grocery_store/184108031/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин продуктов в Москве</a>
  <iframe src="https://yandex.kz/map-widget/v1/-/CCUZ6PtuOB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>
