{% load static %}
<div class="nav">
    <div class="nav-panel container">

      <div class="nav-logo">
        <a href="/" style="display: flex; align-items: center; ">
          <img style="max-width: 50px;" src="{% static 'grocery_store/images/header/armenian_flag.png' %}">
          Армянские Продукты
        </a>
      </div>

      <div class="nav-cabinet">
        <a href="{% url 'cart:cart_detail' %}" class="icon-link nav-element">
          <p>{{ cart.get_amount }} шт.</p>&nbsp|&nbsp<p>{{ cart.get_total_price }} ₽₽</p>
          <img src="{% static 'grocery_store/images/header/basket.svg' %}" alt="Корзина">
        </a>
        <a href="/admin" type="button"
          class="nav-element button nav-button">Войти</a>
      </div>

    </div>
  </div>
